/*index*/
body{
	font-family: 'Source Sans Pro', sans-serif;
}

.menu{
	background-color: #39a3d4;
	color:#fff;
	width: 100%;
	height: 70px;
}

.kontakt1{
	float: left;
	margin-left: 200px;
}

.kontakt2{
	text-align: center;
	background-color: #323232;
	color: #fff;
	padding:20px;
}

.kontakt2 li{
	text-align: center;
}

.ikony{
	float:right;
	margin-right: 50px;
}

.ikony ul{
	padding-right: 200px;
}

.ikony li{
	border: 1px solid #fff;
	background-color: #fff;
	color: #a6a6a6;
}

.ikony li:hover{
	background-color: #5bd0ec;
	color:#fff;
	border: 1px solid #5bd0ec;
}

.odkazy {
	float:right;
	padding-right: 235px;
	font-size: 15px;
	color:#a6a6a6;
	text-align: center;
}

.odkazy .fa {
	display: block;
	font-size: 30px;
}

.odkazy li:hover{
	color:#de5728;
}

.odkazy2{
	color:#a6a6a6;
	text-align:center;
	float: right;
	padding-right: 200px;
	padding-top: 15px;
}

.odkazy2 li:hover{
	color:#de5728;
}


li{
	display:inline-block;
	padding:10px;
}

.nightfury{
	float:left;
	font-size: 30px;
	letter-spacing: -2px;
	font-weight: 600;
	padding-left: 250px;
}

.nightfury2{
	float:left;
	font-size: 30px;
	font-weight: 600;
	padding-left: 250px;
}

.barva-loga{
	color:#de5728;
}

.barva-email{
	color:#de5728;
	font-size: 15px;
}

.barva-navrh{
	color:#aaa6a6;
	font-size:15px;
}

.pozadi{
	height: 170px;
	background-image: url("../dragon/cover.jpg");
	background-position: center;
}

.clear{
	clear: both;
}

.galerie-menu{
	text-align: center;
}

.btn{
	border: 1px #de5728 solid ;
	padding: 10px 15px 10px 15px;
	width:270px;
	text-decoration: none;
}

.btn-more{
	font-size: 20px;
	color:#fff;
	background-color: #de5728;
}

.btn1{
	border: 1px #fff solid;
	padding: 10px;
	text-align: center;
	text-decoration: none;
}

.btn-more1{
	color:#39a3d4;
	font-size: 20px;
	background-color:#fff;
}

.btn-more1:hover{
	color:#fff;
	background-color: #39a3d4;
}


.portfolio{
	padding: 70px 0 0 300px;
}

.text{
	text-align: center;
	margin-right: 100px;
	margin-left: 100px;
	font-size: 18px;
}

.img-dragon{
	display: inline-block;
	text-align: center;
	margin:60px 300px 60px 300px;
}

img {
	padding:0;
	margin:-2px;
}