/*
Theme Name: Muzli
Theme URI: http://yablko.sk
Author: yablko
Author URI: http://yablko.sk
Description: Pressin' those words, 1st try
Version: 0.01
*/



/*
 *	GENERAL
 ------------------------------------------------------ */

/* border-box */
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

/* clearfix */
.group:before, .gallery:before,
.group:after, .gallery:after { content: " "; display: table; }
.group:after, .gallery:after { clear: both; }


/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
	margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
	display: block;
	margin: 5px auto 5px auto;
}

.alignright {
	float:right;
	margin: 5px 0 20px 20px;
}

.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}

a img.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}

a img.alignnone {
	margin: 5px 20px 20px 0;
}

a img.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}

a img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto
}

.wp-caption {
	background: #fff;
	border: 1px solid #f0f0f0;
	max-width: 96%; /* Image does not overflow the content area */
	padding: 5px 3px 10px;
	text-align: center;
}

.wp-caption.alignnone {
	margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
	margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
	margin: 5px 0 20px 20px;
}

.wp-caption img {
	border: 0 none;
	height: auto;
	margin: 0;
	max-width: 98.5%;
	padding: 0;
	width: auto;
}

.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	margin: 0;
	padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}


/* general */
body {
	color: #fff;
	background: #2f313c;
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	text-align: center;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
	transition: .2s all ease-in-out;
}

img {
	/*width: 100%;
	max-width: 100%;*/
	vertical-align: middle;
}

.menu {
	margin: 0;
	list-style: none;
	padding-left: 0;
}

.menu li,
.menu a {
	display: inline-block;
}

.container {
	margin: 0 auto;
	max-width: 64em;
	padding: 0 1em;
}

::selection {
	background-color: #FCBD24;
	color: #fff;
}

::-moz-selection {
	background-color: #FCBD24;
	color: #fff;
}

pre {
	font-family: monospace, monospace;
	text-align: left;
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 0.9em;
	line-height: 1.42857143;
	color: #333;
	/*word-break: break-all;*/
	/*word-wrap: break-word;*/
	white-space: pre-wrap;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border-radius: 4px;
	/*overflow: auto;*/
}

pre code {
	padding: 0;
	font-size: inherit;
	color: inherit;
	white-space: pre-wrap;
	background-color: transparent;
	border-radius: 0;
}


/*
 *	UI ELEMENTS
 ------------------------------------------------------ */

.btn {
	font-size: 1.0625em; /* 17/16 */
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	display: inline-block;
	margin: 2.125em 0; /* 34/16 */
	padding: 1.25em 1.5em; /* 20/16 */ /* 24/16 */
	border-radius: 0.375em; /* 6/16 */
	background-color: rgb(84, 87, 102);
	background-color: rgba(84, 87, 102, 1);
}

.btn:hover,
.btn:focus {
	background-color: rgba(84, 87, 102, 0.9);
}

.btn-red {
	background-color: rgb(253, 104, 91);
	background-color: rgba(253, 104, 91, 1);
}

.btn-red:hover,
.btn-red:focus {
	background-color: rgba(253, 104, 91, 0.9);
}

.btn-green {
	background-color: rgb(57, 174, 144);
	background-color: rgba(57, 174, 144, 1);
}

.btn-green:hover,
.btn-green:focus {
	background-color: rgba(57, 174, 144, 0.9);
}

.btn-white {
	background-color: rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, 1);
}

.btn-white:hover,
.btn-white:focus {
	background-color: rgba(255, 255, 255, 0.9);
}

.btn-yellow {
	background-color: rgb(254, 205, 94);
	background-color: rgba(254, 205, 94, 1);
	text-shadow: 1px 1px 0 #E2B843;
}

.btn-yellow:hover,
.btn-yellow:focus {
	background-color: rgba(254, 205, 94, 0.9);
}



/*
 *	HEADER
 ------------------------------------------------------ */

.site-header {
	background: #fff;
	border-bottom: 1px solid #63C5DB;
}

.blog    .site-header { border-bottom: 1px solid #0682A8; }
.contact .site-header { border-bottom: 1px solid #E44B3E; }
.gallery .site-header { border-bottom: 1px solid #E2B843; }

.current-menu-item a { color: #4996A7; }
.blog    .current-menu-item a { color: #109FCA; }
.contact .current-menu-item a { color: #E44B3E; }
.gallery .current-menu-item a { color: #D29F13; }

nav a,
nav strong {
	font-size: 0.825em;
	text-align: center;
	display: inline-block;
	padding: 1.825em 0.625em;
}

nav a {
	color: #777;
}

nav a:hover,
nav a:focus {
	color: #9f9f9f;
}

nav strong {
	color: #E08800;
	font-weight: normal;
}




/*
 *	MAIN
 ------------------------------------------------------ */

main    	  { background: #8FD2D1; }
.blog main	  { background: #019DCD; }
.contact main {	background: #FD685B; }
.gallery main {	background: #FFD256; }

.shadow 		 { text-shadow: -1px 1px 0px #63C5DB; }
.blog .shadow 	 { text-shadow: -1px 1px 0px #0682A8; }
.contact .shadow { text-shadow: -1px 1px 0px #E44B3E; }
.gallery .shadow { text-shadow: -1px 1px 0px #E2B843; }


.content {
	padding-top: 5em; /* 80/16 */
	padding-bottom: 5em;
}

h1, h2, h3 {
	margin: 0;
	line-height: 1;
}

h1 {
	font-size: 4.6875em; /* 75/16 */
	text-transform: uppercase;
	margin-bottom: 0.3em;
}

h2 {
	font-size: 1.5em; /* 24/16 */
	line-height: 1.3333333333333333em; /* 32/24 */
	font-weight: normal;
}

h3 {
	font-size: 1.4em;
}


main h1,
main h2,
main h3  {
	text-shadow: -1px 1px 0px #63C5DB;
}

.blog main h1,
.blog main h2,
.blog main h3  {
	text-shadow: -1px 1px 0px #0682A8;
}

.contact main h1,
.contact main h2,
.contact main h3  {
	text-shadow: -1px 1px 0px #E44B3E;
}

.gallery main h1,
.gallery main h2,
.gallery main h3  {
	text-shadow: -1px 1px 0px #E2B843;
}

.small {
	font-size: 0.75em; /* 12/16 */
	line-height: 1.5em; /* 18/12 */
	margin: 0;
}


/* HOMEPAGE */

.bigass {
	max-width: 100%;
	height: auto;
	border-radius: .75em .75em 0 0;
	vertical-align: bottom;
	margin-top: 2.75em;
	margin-bottom: -5em;
	position: relative;
	z-index: 1;
	top: .425em;
	transition: .2s top ease-in-out;
}

.bigass:hover {
	top: 0;
}


/* GALLERY */

.image-grid {
	margin-top: 3em;
}

.image-grid img {
	border-radius: .25em;
}

.gallery-img {
	float: left;
	width: 49%;
	margin: 0.5%;
}


/* BLOG */

.post-list {
	width: 70%;
	margin: 5.35em auto 0;
	text-align: left;
}

.post {
	margin: 4em 0;
	line-height: 1.725;
}

.post-title {
	color: #fff;
	font-size: 1.925em;
	margin-bottom: 1.125em;
	text-transform: none;
}

.post p {
	color: rgba(255, 255, 255, 0.9);
}

.load-older {
	margin-top: 0;
}

/* SINGLE POST */

.single h1 {
	font-size: 3.75em;
	margin-bottom: 0.5em;
}

.single .post-list {
	margin-top: 0;
}

.single .post {
	margin-top: 1.5em;
	margin-bottom: 2.5em;
}

/* WIDGET */

.widget {
	margin-bottom: 3em;
}

.widget:last-child {
	margin-bottom: 0;
}

.widget ul {
	padding-left: 0;
	margin-bottom: 0;
	list-style-type: none;
}

.widget li {
	margin-bottom: 1px;
}

.widget li:last-child {
	margin-bottom: 0;
}

.widget small {
	color: #999;
}

/* CONTACT */

input:not([type="submit"]),
textarea,
div.wpcf7-response-output {
	color: #fff;
	font-size: 0.9em;
	font-family: 'Montserrat', sans-serif;

	border: 2px solid rgba(0, 0, 0, 0.1);
	background-color: rgba(255,255,255,0.05);
	border-radius: 0.333em;
	outline: none;

	display: block;
	padding: 0.6em;
	margin-top: 0.35em;
	max-width: 100%;
	width: 100%;
}

input:not([type="submit"]):focus,
textarea:focus {
	border-color: rgba(255,255,255,0.5);
}

input.wpcf7-not-valid,
textarea.wpcf7-not-valid {
	/*border-color: rgba(255,0,0,0.7);*/
	border-color: #D72727;
	background: rgba(255,0,0,0.2);
}

span.wpcf7-not-valid-tip {
	color: #D72727;
	text-align: right;
	margin: 0.3em 0;
}

div.wpcf7-response-output {
	margin: 2em 0;
	text-align: center;
	color: #555;
	background: rgba(255, 241, 80, 0.68);
}

div.wpcf7-mail-sent-ok {
	color: #fff;
	background: rgba(15, 247, 0, 0.47);
}

div.wpcf7-display-none {
	display: none;
}

.wpcf7-form {
	max-width: 35em;
	margin: 4.5em auto 0;
	text-align: left;
}

.wpcf7-form label {
	font-size: 1.1em;
	display: block;
	margin-bottom: 1.35em;
	font-weight: normal;
}

.wpcf7-form .btn {
	border: none;
	cursor: pointer;
	font-size: 0.9em;
	padding: 0.9em 2.15em;
	margin: 0;
}


/* FUNSIES */
.funsies header + p {
	padding: 20px 0;
}



/**
 * 12.2 - Galleries
 */

.gallery {
	margin-bottom: 20px;
}

.gallery-item {
	float: left;
	margin: 0 4px 4px 0;
	overflow: hidden;
	position: relative;
}

.gallery-columns-1 .gallery-item {
	max-width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 48%;
	max-width: -webkit-calc(50% - 4px);
	max-width:         calc(50% - 4px);
}

.gallery-columns-3 .gallery-item {
	max-width: 32%;
	max-width: -webkit-calc(33.3% - 4px);
	max-width:         calc(33.3% - 4px);
}

.gallery-columns-4 .gallery-item {
	max-width: 23%;
	max-width: -webkit-calc(25% - 4px);
	max-width:         calc(25% - 4px);
}

.gallery-columns-5 .gallery-item {
	max-width: 19%;
	max-width: -webkit-calc(20% - 4px);
	max-width:         calc(20% - 4px);
}

.gallery-columns-6 .gallery-item {
	max-width: 15%;
	max-width: -webkit-calc(16.7% - 4px);
	max-width:         calc(16.7% - 4px);
}

.gallery-columns-7 .gallery-item {
	max-width: 13%;
	max-width: -webkit-calc(14.28% - 4px);
	max-width:         calc(14.28% - 4px);
}

.gallery-columns-8 .gallery-item {
	max-width: 11%;
	max-width: -webkit-calc(12.5% - 4px);
	max-width:         calc(12.5% - 4px);
}

.gallery-columns-9 .gallery-item {
	max-width: 9%;
	max-width: -webkit-calc(11.1% - 4px);
	max-width:         calc(11.1% - 4px);
}

.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-9 .gallery-item:nth-of-type(9n) {
	margin-right: 0;
}

.gallery-columns-1.gallery-size-medium figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-1.gallery-size-thumbnail figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-2.gallery-size-thumbnail figure.gallery-item:nth-of-type(2n+1),
.gallery-columns-3.gallery-size-thumbnail figure.gallery-item:nth-of-type(3n+1) {
	clear: left;
}

.gallery-caption {
	background-color: rgba(0, 0, 0, 0.7);
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
	color: #fff;
	font-size: 12px;
	line-height: 1.5;
	margin: 0;
	max-height: 50%;
	opacity: 0;
	padding: 6px 8px;
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: left;
	width: 100%;
}

.gallery-caption:before {
	content: "";
	height: 100%;
	min-height: 49px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.gallery-item:hover .gallery-caption {
	opacity: 1;
}

.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}


/*
 *	FOOTER
 ------------------------------------------------------ */

.pre-footer,
.site-footer {
	display: block;
	position: relative;
	z-index: 2;
}

.pre-footer {
	background: #363842;
	padding: 4.25em 0 4.5em;
}

.pre-footer p {
	color: #e4e6e7;
	font-size: 1.1em;
	line-height: 1.625em;
	margin: 1.65em 0 1.75em;
}

.pre-footer .btn {
	margin: 0;
	padding: 1.05em 1.375em;
	border-radius: 0.3em;
	font-size: .875em;
}

.site-footer {
	color: #8c95ad;
	padding: 1.85em 0;
}

.site-footer a {
	border-bottom: 1px solid #383F4D;
}

.site-footer a:hover
.site-footer a:focus {
	color: #8c95ad;
}

.site-footer span {
	color: #4E5666;
	padding-left: 1em;
}




/*
 *	MEDIA QUERIES
 ------------------------------------------------------ */

@media (max-width: 40em) {

	.pre-footer,
	main {
		font-size: 85%;
	}

	.post-list {
		width: 100%;
	}

	main h2 br,
	.pre-footer p br {
		display: none;
	}

	.gallery-img {
		float: none;
		width: 100%;
		margin: 0.5em 0;
	}

}